.imam-section{
    background-color:#F9F9F9;
    padding:5rem 0;
}
.about-container{
    margin-top:5rem;
    .about-side{
        position: sticky;
        top:50px;
        border-right:1px solid $brown-light;
        padding-right:0.75rem;
        ul li{
            list-style-type: none;
            margin-bottom:1rem;
        }
    }
    .about-content > section{
        margin-bottom:3rem;
    }
}