#madrasah-slider{
    .slide{
        height:80vh;
        width:100%;
        display:flex;
        align-items: center;
        background-size:cover;
        color:#FFF;
    }
}
.madrasah-section{
    margin:5rem 0;
}
#gallery-preview{
    margin:5rem 0;
}