/* ----------------------------------------------------------------------------
 * Structure
 * ------------------------------------------------------------------------- */

/* global box-sizing */
*,
*:after,
*:before {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

/* html element 62.5% font-size for REM use i.e. 1rem = 10px*/
html {
	font-size: 16px;
	height: 100%;
	min-height: 100%;
}

body {
	font: 400 16px/1.8 'Muli', sans-serif;
	margin: 0;
	height: 100%;
	min-height: 100%;
}

/* clear */
.clear:before,
.clear:after {
	content: ' ';
	display: table;
}

.clear:after {
	clear: both;
}

.clear {
	*zoom: 1;
}

img {
	max-width: 100%;
	vertical-align: bottom;
	height: auto;
}

a {
	color: #444;
	text-decoration: none;
	transition: 250ms all ease;
}

a:hover {
	color: #444;
}

a:focus {
	outline: 0;
}

a:hover,
a:active {
	outline: 0;
}

input:focus {
	outline: 0;
	border: none;
}

ol,
ul {}

select {
	width: 100%;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
	display: inline-block;
	float: right;
}

h1,
h2,
h3 {
	font-family: 'Playfair Display', serif;
	font-weight: 400 !important;
}

h1 {
	font-size: 3.5rem;
	line-height: 1.2;
}

.sub {
	small {
		font-size: 16px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 3px;

	}

	&.brown {
		small {
			color: $brown-text;
		}
	}

	h1 {
		margin-top: 0;
	}
}

.regular-text {
	p {
		margin: 1rem 0;
		line-height: 2;
	}

	ul {
		list-style: none;
		margin-left: 2rem;
	}

	ol {
		margin-left: 2rem;
	}
}

.btn-sq,
.btn-ar,
.btn-sq-outline {
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 4px;
	font-size: 14px;
	padding: 0.75rem 2rem;
}

.btn-sq {
	background-color: $brown-light;
	color: #FFF;
}
.btn-sq-outline{
	&.white {
		border:1px solid #FFF;
	color: #FFF;
	}
	
}
.btn-ar {
	&.white-brown {
		color: #FFF;
	}
}

header {
	position: absolute;
	width: 100%;
	padding: 1rem 0;
	z-index: 2;
	#desktop-nav {
		a {
			color: #FFF;
			text-transform: uppercase;
			font-weight: bold;
			letter-spacing: 2px;
			font-size: 12px;
		}
        .sub-menu {
			position: absolute;
			background-color: $blue;
			text-align: left;
			padding: 0.5rem;
			z-index: 6;
			visibility: hidden;
            opacity:0;
            transition: 250ms all ease;
            display:none;
			li {
				display: block;
				font-size: 13px;
				margin: 0;
				padding: 0.4rem;
			}
		}
		ul {
			display: flex;

			li {
                padding:0.5rem 1rem;
                display:flex;
                align-items: center;
                &.donate{
                    padding:0.5rem 2rem;
                    border:1px solid #FFF;
                    
                }
                &.menu-item-has-children:hover{
                    .sub-menu{
                        top:40px;
                        visibility: visible;
                        display:block;
                        opacity:1;
                    }
                }

			}
		}

		
	}
}

#mobile-nav {
	display: none;
}
