/* ----------------------------------------------------------------------------
 * Structure
 * ------------------------------------------------------------------------- */

/* global box-sizing */
*,
*:after,
*:before {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

/* html element 62.5% font-size for REM use i.e. 1rem = 10px*/
html {
	font-size: 16px;
	height: 100%;
	min-height: 100%;
	width:100%;
}

body {
	font: 400 16px/1.8 'Muli', sans-serif;
	margin: 0;
	height: 100%;
	min-height: 100%;
	@media screen and (max-width:575px){
		overflow-x:hidden;
	}
}

/* clear */
.clear:before,
.clear:after {
	content: ' ';
	display: table;
}

.clear:after {
	clear: both;
}

.clear {
	*zoom: 1;
}

img {
	max-width: 100%;
	vertical-align: bottom;
	height: auto;
}

a {
	color: #444;
	text-decoration: none;
	transition: 250ms all ease;
}

a:hover {
	color: #444;
}

a:focus {
	outline: 0;
}

a:hover,
a:active {
	outline: 0;
}

input:focus {
	outline: 0;
	border: none;
}

ol,
ul {}

select {
	width: 100%;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
	display: inline-block;
	float: right;
}

h1,
h2,
h3 {
	font-family: 'Playfair Display', serif;
	font-weight: 400 !important;
}

h1 {
	font-size: 3.5rem;
	line-height: 1.2;
	@media screen and (max-width:575px){
		font-size:2.5rem;
	}
}
h2{
	font-size:2.5rem;
	line-height: 1.2;
}
h3{
	font-size:2rem;
	line-height: 1.2;
}
.sub {
	small {
		font-size: 16px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 3px;

	}

	&.brown {
		small {
			color: $brown-text;
		}
	}
	&.blue {
		small {
			color: $blue;
		}
	}
	h1,h2,h3 {
		margin-top: 0;
	}
	h2{
		font-size:2rem;
	}
}

.regular-text {
	p {
		margin: 1rem 0;
		line-height: 2;
	}

	ul {
		list-style: none;
		margin-left: 2rem;
	}

	ol {
		margin-left: 2rem;
	}
}

.btn-sq,
.btn-ar,
.btn-sq-outline {
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 4px;
	font-size: 14px;
	padding: 0.75rem 2rem;
	transition:250ms all ease;
	display:inline-block;
}

.btn-sq {
	color: #FFF;
	&:hover{
		color:#CCC;
	}
	&.brown{
		background-color: $brown-light;
		&:hover{
			background-color:darken($brown-light, 20%);
		}
	}
	&.blue{
		background-color: $blue;
		&:hover{
			background-color:darken($blue, 10%);
		}
	}
}

.btn-sq-outline {
	&.white {
		border: 1px solid #FFF;
		color: #FFF;
		&:hover {
			background-color: #FFF;
			color: $brown-text !important;
		}
	}
	&.blue-brown{
		border:1px solid $blue;
		color:$brown-dark;
		&:hover{
			background-color:$brown-light;
			border-color:$brown-light;
			color:#FFF;
		}
	}
}

.btn-ar {
	display:inline-flex;
	align-items:center;
	&.white-brown {
		color: #FFF;
	}
	&:after{
		content:"\2192";
		font-size:1.5rem;
		color:$brown-text;
		transition:250ms all ease;
		
		margin-left:0.5rem;
	}
	&:hover{
		color:$brown-text;
		&:after{
			transform:translateX(1rem);
		}
	}
}
.divider{
	height:1px;
	width:60px;
	background-color:$brown-dark;
	margin:2rem 0;
}
header {
	position: absolute;
	width: 100%;
	padding: 1rem 0;
	z-index: 2;

	#desktop-nav {
		a {
			color: #FFF;
			text-transform: uppercase;
			font-weight: bold;
			letter-spacing: 2px;
			font-size: 12px;
		}

		.sub-menu {
			position: absolute;
			background-color: $blue;
			text-align: left;
			padding: 0.5rem;
			z-index: 6;
			visibility: hidden;
			opacity: 0;
			transition: 250ms all ease;
			display: none;

			li {
				display: block;
				font-size: 13px;
				margin: 0;
				padding: 0.4rem;
			}
		}

		ul {
			display: flex;

			li {
				padding: 0.5rem 1rem;
				display: flex;
				align-items: center;

				&.donate a{
					padding:0.5rem 2rem;
					@extend .btn-sq-outline.white;
				}

				&.menu-item-has-children:hover {
					.sub-menu {
						top: 40px;
						visibility: visible;
						display: block;
						opacity: 1;
					}
				}

			}
		}


	}
}

#mobile-nav {
	display: none;
}

.page-header{
	height:450px;
	display:flex;
	align-items:center;
	justify-content: center;
	text-align: center;
	color:#FFF;
	background-size:cover;
	background-color:darken($blue,15%);
	h1{
		color:#FFF;
	}
}
#page{
	margin-top:3rem;
}