/* ----------------------------------------------------------------------------
 * Variables
 * ------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------
 * Colors
 * ------------------------------------------------------------------------- */
 $black: #2E2E2E;
 $gray-6: #666666;
 $blue: #123C69;
 $brown-dark: #AB9371;
 $brown-light: #C3AA87;
 $brown-text: #E0BE8E;
